<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Default suite">
	<listeners>
		<listener class-name ="com.epam.vyacheslav_utenkov.java.lesson7.utils.EventListener"/>
	</listeners>
  <test verbose="2" name="Default test">
    <classes>
      <class name="com.epam.vyacheslav_utenkov.java.lesson7.advanced.YandexMailTest"/>
    </classes>
  </test> <!-- Default test -->
</suite> <!-- Default suite -->
